/* INIZIO REGOLE GENERALI */
.wrapper {
  width: 70%;
  margin: auto;
  letter-spacing: normal;
}
body {
  letter-spacing: 3px;
  font-family: 'Open Sans', sans-serif;
}
body ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.central-alignment {
  text-align: center;
}
.right-alignment {
  text-align: right;
}
/* FINE REGOLE GENERALI */

/* INIZIO REGOLE HEADER */
/* Inizio menu di navigazione */
header nav .fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}
header nav ul li {
  display: inline-block;
}
header nav {
  line-height: 80px;
}
header nav img {
  vertical-align: middle;
}
header nav ul li a {
  text-transform: uppercase;
  color: black;
  padding: 0 5px;
  font-weight: bold;
  font-size: 0.7em;
}
header nav .col-lg-2 ul li:nth-child(2)>a {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
/* Fine menu di navigazione */
/* FINE REGOLE HEADER */

/* INIZIO REGOLE MAIN */
main {
  margin-top: 82px; /* misura del menu di navigazione */
}
/* Inizio sezione hero */
main #hero {
  background-image: url("../img/hero-bg.jpg");
  height: 500px;
  color: white;
  position: relative;
}
main #hero .teaser {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #hero .teaser p {
  padding: 25px 0;
  font-size: 17px;
}

/* MEDIA QUERY */
@media all and (max-width: 767px) {
  main #hero .teaser p {
    font-size: 1.3em;
  }
  main #hero .teaser h1 {
    letter-spacing: 1px;
  }
  main #hero .teaser img {
    transform: scale(0.7);
  }
}
/* FINE MEDIA QUERY */
/* Fine sezione hero */

/* Inizio sezione prodotti */
main #products .box-centering {
  padding: 25px;
  text-align: center;
}
main #products .box-background {
  background-color: #fafafa;
}
main #products img {
  width: 100%;
}
main #products p {
  padding: 10px 0;
  font-size: 1.2em;
}
main #products a {
  color: #464cfc;
  font-weight: bold;
}
/* inizio media query */
@media all and (max-width: 767px) {
  main #products {
    font-size: 1.1em;
  }
  main #products img {
    transform: scale(0.7);
    margin: -1em 0;
  }
}
/* fine media query */
/* Fine sezione prodotti */

/* Inizio sectione usage */
main #usage .background {
  height: 500px;
  background-image: url("../img/HelbizBanner.jpg");
  background-size: cover;
}
main #usage .phone  {
  text-align: center;
  margin-top: -300px;
}
main #usage .phone [class*="col-"]:first-child,
main #usage .phone [class*="col-"]:last-child {
  height: 500px;
  padding-top: 370px;
  text-align: left;
  padding-left: 100px;
}
main #usage img {
  height: 500px;
}
/* Fine sectione usage */

/* Inizio sezione benefit */
main #benefit .box-background {
  background-image: url("../img/ScooterHelbiz-2400.jpg");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
main #benefit .text {
  padding: 0 33px;
  margin-top: 140px;
}
main #benefit .text h2 {
  font-size: 2.4em;
}
main #benefit .text p {
  font-size: 1.2em;
  margin: 20px 0;
}
main #benefit .text a {
  color: white;
}
/* fine media query */
/* Fine sezione benefit */

/* Inizio sezione app */
main #app .box-centering.iphone {
  padding-top: 25px;
  padding-right: 25px;
  text-align: center;
  color: white;
}
main #app .box-centering.iphone .box-background {
  background-color: #3A4C5D;
  height: 500px;
  overflow: hidden;
}
main #app .box-centering.city {
  padding-top: 25px;
  padding-left: 25px;
  text-align: center;
  color: white;
}
main #app .box-centering.city .box-background {
  height: 500px;
  background-image: url("../img/Cities-1500.jpg");
  background-size: cover;
}
main #app .iphone img {
  width: 80%;
  margin-top: 10%;
}
main #app p {
  padding: 10px 0;
  font-size: 1.2em;
}
main #app a {
  color: white;
  font-weight: bold;
}
/* inizio media query */
@media all and (max-width: 767px) {
  main #app {
    font-size: 1.1em;
  }
  main #app img {
    transform: scale(0.7);
  }
  main #app .box-centering.city {
    padding-left: 0;
  }
  main #app .box-centering.iphone {
    padding-right: 0;
  }
  main #app p {
    padding: 1.5em 0;
  }
}
/* fine media query */
/* Fine sezione app */

/* Inizio sezione family */
main #family {
  height: 500px;
  background-image: url("../img/Social-Banner.jpg");
  background-size: cover;
  position: relative;
  margin: 25px 0;
}
main #family .social {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
}
main #family .social li {
  display: inline-block;
  padding: 0 5px;
  font-size: 17px;
}
main #family .social li a {
  color: black;
}
/* Fine sezione family */

/* FINE REGOLE MAIN */
